# 构建并部署 DocFX 文档到 GitHub Pages
name: Deploy Documentation to Pages

on:
  # 暂停自动触发，保留手动触发入口
  push:
    branches: ["main"]
    paths:
      - 'docs/**'

  # 可在 Actions 里手动运行
  workflow_dispatch:

# 设置 GITHUB_TOKEN 权限以允许部署到 Pages
permissions:
  contents: read
  pages: write
  id-token: write

#只允许一个并发部署，跳过正在运行和最新队列之间的运行队列。
#但是，不要取消正在进行的运行，因为我们希望这些生产部署能够完成。
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # 构建任务
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # 拉取完整历史以获取 git 信息

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Setup DocFX
        run: dotnet tool install -g docfx

      - name: Build with DocFX
        run: |
          cd docs
          docfx docfx.json

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs/_site'

  # 部署任务
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
